<${flexComponentNS}:${flexComponent}

#foreach( $tokenElement in $tokenList )
    ${tokenElement.getToken()}="${tokenElement.getValue()}"
#end

>


${initialBodyContent}

<!-- Child Component ${childIdentifier} -->

</${flexComponentNS}:${flexComponent}>

<!-- Sibling Component ${siblingIdentifier} -->
