@CHARSET "ISO-8859-1";

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .7em;
}

h4 {
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 0 0 1px;
}

legend {
    color:#6495ED;
    font-size:18px;
}

legend span {
	border-color: #CCCCCC;
	border-style: solid;
    border-width: 1px;
    font-size:10px;
    font-weight: bold;
    color: green;
    cursor: auto;
    vertical-align: middle;
}

legend span:hover {
    color: purple;
    cursor: pointer;
    font-size:18px;
}

fieldset {
	margin: 10px 5px;
}

fieldset > div {
	border-left:1px solid #CCCCCC;
	display: none;
}

fieldset > div > div {
    clear: both;
    position:relative;
}

fieldset > div > div div {
	border-top:1px solid #CCCCCC;
	padding:3px 4px;
}

fieldset > div > div div:first-child {
    color:#ff6666;
    float:left;
    width: 25% !important;
}

fieldset > div > div div:first-child + div {
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
    color:#708090;
    float:left;
    overflow-x: auto;
    padding-left: 5px;
    width: 70%;
}

.attributeHeader div {
	background-color:#F0F0F0;
	color:#000000 !important;
	font-weight:bold;
	text-align:center;
}