@CHARSET "ISO-8859-1";

.descriptionStyle{
    color:#708090;
    font: 700 11px verdana;
    width: 900px;
}

.errorStyle{
    color:#ff6666;
    font: 700 11px verdana;
}

#container {
    font: 500 13px Trebuchet MS, Tahoma, Verdana;
}

#warningMessage{
    border: 1px solid #CCCCCC;
    color:#006699;
}

#fieldSetLegend {
    color:#6495ED;
    font-size:18px;
    -moz-transform: rotate(3deg) skewX(5deg);
    -webkit-transform: rotate(3deg) skewX(5deg);
    -o-transform: rotate(3deg) skewX(5deg);
    -ms-transform: rotate(3deg) skewX(5deg);
    transform: rotate(3deg) skewX(5deg);
    box-shadow: 0.45em 0.25em 0.25em gray;
    -moz-box-shadow: 0.45em 0.25em 0.25em gray;
    -webkit-box-shadow: 0.45em 0.25em 0.25em gray;
    text-shadow: 0.33em 0.25em 0.1em gray;
    -moz-text-shadow: 0.33em 0.25em 0.1em gray;
    -webkit-text-shadow: 0.33em 0.25em 0.1em gray;
}

#fieldSet > div {
    clear: both;
    position:relative;
}

#fieldSet div:first-child {
    color:#ff6666;
    float:left;
    width:250px;
}

#fieldSet div:first-child ~ div {
    color:#708090;
    float:left;
    overflow-x: auto;
    padding-left: 5px;
    width: 700px;
}

.sectionDescription{
    color:#708090;
    font: 700 14px verdana;
    text-align:center;
    text-decoration:underline;
    width:50%;
    -moz-transform: skewY(-3deg) scale(1.5);
    -webkit-transform: skewY(-3deg) scale(1.5);
    -o-transform: skewY(-3deg) scale(1.5);
    -ms-transform: skewY(-3deg) scale(1.5);
    transform: skewY(-3deg) scale(1.5);
    text-shadow: 0.33em 0.25em 0.1em orange;
    -moz-text-shadow: 0.33em 0.25em 0.1em orange;
    -webkit-text-shadow: 0.33em 0.25em 0.1em orange;
}

.subSectionDescription{
    width:80%;
}

.subSectionDescription .descriptionHeading{
    color:FF9966;
    font: 700 12px Helvetica;
    text-decoration:underline;
}

.subSectionDescription .descriptionText{
    font: 15px Garamond;
}