@CHARSET "ISO-8859-1";

.descriptionStyle{
    color:#708090;
    font: 700 11px verdana;
}

.errorStyle{
    color:#ff6666;
    font: 700 11px verdana;
}

#container {
	font: 500 13px Trebuchet MS, Tahoma, Verdana;
}

#warningMessage{
    border-style: solid;
    border-color: #CCCCCC;
    border-width: 0 0 1px;
    color:#006699;
}

#fieldSetLegend {
    color:#6495ED;
    font-size:18px;
}

#fieldSet > div {
    clear: both;
    position:relative;
}

#fieldSet div:first-child {
    color:#ff6666;
    float:left;
    width:250px;
}

#fieldSet > div div + div {
    color:#708090;
    float:left;
    overflow-x: auto;
    padding-left: 5px;
    width: 700px;
}

.sectionDescription{
    color:#708090;
    font: 700 14px verdana;
    text-align:center;
    text-decoration:underline;
    width:50%;
}

.subSectionDescription{
    width:80%;
}

.subSectionDescription .descriptionHeading{
    color:FF9966;
    font: 700 12px Helvetica;
    text-decoration:underline;
}

.subSectionDescription .descriptionText{
    font: 15px Garamond;
}