<mx:${mxmlComponent}

#foreach( $tokenElement in $tokenList )
    ${tokenElement.getToken()}="${tokenElement.getValue()}"
#end

>


${initialBodyContent}

<!-- Child Component ${childIdentifier} -->

</mx:${mxmlComponent}>

<!-- Sibling Component ${siblingIdentifier} -->