<mx:PhoneNumberValidator
	
	${allowedFormatChars}
    ${invalidCharError}
    ${wrongLengthError}
	
	&validator;
>

<!-- Child Component -->

</mx:PhoneNumberValidator>

<!-- Sibling Component -->