<mx:SocialSecurityValidator
	
	${allowedFormatChars}
    ${invalidCharError}
    ${wrongFormatError}
    ${zeroStartError}
	
	&validator;
>

<!-- Child Component -->

</mx:SocialSecurityValidator>

<!-- Sibling Component -->