<mx:NumberValidator
	
	${allowNegative}
    ${decimalPointCountError}
    ${decimalSeparator}
    ${domain}
    ${exceedsMaxError}
    ${integerError}
    ${invalidCharError}
    ${invalidFormatCharsError}
    ${lowerThanMinError}
    ${maxValue}
    ${minValue}
    ${negativeError}
    ${precision}
    ${precisionError}
    ${separationError}
    ${thousandsSeparator}
	
	&validator;
>

<!-- Child Component -->

</mx:NumberValidator>

<!-- Sibling Component -->