<mx:PopUpMenuButton
	
	${dataDescriptor}
    ${dataProvider}
    ${labelField}
    ${labelFunction}
    ${showRoot}
	
	&popUpbutton;
>

<!-- Child Component -->

</mx:PopUpMenuButton>

<!-- Sibling Component -->