<mx:Tree

	${dataDescriptor}
    ${firstVisibleItem}
    ${itemIcons}
    ${openItems}
    ${showRoot}
    
    ${defaultLeafIcon}
    ${depthColors}
    ${disclosureClosedIcon}
    ${disclosureOpenIcon}
    ${folderClosedIcon}
    ${folderOpenIcon}
    ${indentation}
    ${openDuration}
    ${openEasingFunction}
    
    ${itemClose}
    ${itemOpen}
    ${itemOpening}
    
	&listTemplate;
>

<!-- Child Component -->

</mx:Tree>

<!-- Sibling Component -->