#foreach( $mxmlObjectBean in $mxmlObjectSet )
  #if ( ${mxmlObjectBean.isBindable()})
    [Bindable]
    private var ${mxmlObjectBean.getVariableId()}:${mxmlObjectBean.getVariableType()} = ${mxmlObjectBean.generateVariableInfoAsString()};
  #else
    private var ${mxmlObjectBean.getVariableId()}:${mxmlObjectBean.getVariableType()} = ${mxmlObjectBean.generateVariableInfoAsString()};
  #end
#end