	${autoLoad}
    ${loaderContext}
    ${maintainAspectRatio}
    ${scaleContent}
    ${showBusyCursor}
    ${source}
    ${trustContent}
    
    ${brokenImageBorderSkin}
    ${brokenImageSkin}
    ${horizontalAlign}
    ${verticalAlign}
    
    ${completeEffect}
    
    ${complete}
    ${httpStatus}
    ${init}
    ${ioError}
    ${open}
    ${progress}
    ${securityError}
    ${unload}
    
    &base;