	${openAlways}
    ${popUp}
	
    ${arrowButtonWidth}
    ${closeDuration}
    ${closeEasingFunction}
    ${openDuration}
    ${openEasingFunction}
    ${popUpDownSkin}
    ${popUpGap}
    ${popUpIcon}
    ${popUpOverSkin}
	
    ${close}
    ${open}
    
    &button;