<mx:PhoneFormatter
	
    ${areaCode}
    ${areaCodeFormat}
    ${formatString}
    ${validPatternChars}
	
	&formatter;
>

<!-- Child Component -->

</mx:PhoneFormatter>

<!-- Sibling Component -->