	${liveDragging}
    ${resizeToContent}
    
    ${dividerAffordance}
    ${dividerAlpha}
    ${dividerColor}
    ${dividerSkin}
    ${dividerThickness}
    ${horizontalDividerCursor}
    ${verticalDividerCursor}
    
    ${dividerPress}
    ${dividerDrag}
    ${dividerRelease}
    
    &box;